<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>

    <!-- Bootstrap CSS and other stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />

    @RenderSection("styles", required: false) <!-- Optional styles section -->

    <style>
        /* Your additional custom styles */
        .link-selection {
            display: none;
            list-style-type: none;
            margin: 0;
            padding: 0;
            padding-left: 20px;
        }

            .link-selection li a {
                color: #fff;
                text-decoration: none;
            }

                .link-selection li a:hover {
                    text-decoration: underline;
                }

        .main-menu button {
            background: none;
            border: none;
            color: #fff;
            text-align: left;
            width: 100%;
            padding: 10px 15px;
            font-size: 16px;
            display: flex;
            align-items: center;
        }

            .main-menu button i {
                margin-right: 10px;
                flex-shrink: 0;
            }

            .main-menu button:hover {
                background: rgba(255, 255, 255, 0.1);
            }

        .main-menu .nav-text {
            flex: 1;
        }

        .main-menu ul {
            padding: 0;
        }

        .main-menu li {
            list-style: none;
        }
    </style>
</head>
<body>
    <div class="area"></div>
    <nav class="main-menu">
        <ul>
            <!-- Your navigation menu -->
        </ul>

        <ul class="logout">
            <li>
                <button onclick="logout()">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </button>
            </li>
        </ul>
    </nav>

    <div class="container">
        @RenderBody() <!-- This is where the content of each view will be rendered -->
    </div>

    <!-- Bootstrap and other scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-4qFJzXxpaNx7UTRclGF1Kx4Vx0qfRjg6Z8/+pJnhXEdBz5J1X4xUaynWNy/5Zxq5" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+QQDvFbWPIfIGbV3vS+skP6vDIm/kR0Xcg1" crossorigin="anonymous"></script>

    <!-- Your custom scripts -->
    <script>
        function toggleLinks(id) {
            var links = document.getElementById(id);
            if (links.style.display === "none" || links.style.display === "") {
                links.style.display = "block";
            } else {
                links.style.display = "none";
            }
        }

        function logout() {
            // Add your logout functionality here
            alert("Logging out...");
        }
    </script>

    @RenderSection("scripts", required: false) <!-- Optional scripts section -->
</body>
</html>
